.grid {
    display: table;
    border-spacing: 1px;
}

.grid-row {
    display: table-row;
}

.grid-cell {
    border-radius: 3px;
    display: table-cell;
    border: solid 1px #EEEEEE;
    width: 10px;
    height: 10px;
}